.carouselImages{
    height: 30rem;
}

.wrapper{
    min-height: 100vh;
}

.welcomeSection{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.myCard{
    margin-top: 3rem;
}

.theFormElement{
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.footer{
    padding-top: 4rem;
    background-color: rgb(199, 189, 189);
    color: white;
    display: flex;
    justify-content: center;
}